force-app/main/default/flows/AI_Summary_Retry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <description>Clears the AI summary, timestamp, version, and status fields on a Lead so the Make.com scenario will re-process it on its next modification watch.</description>
    <environments>Default</environments>
    <interviewLabel>AI Summary Retry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Summary Retry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Clear_AI_Fields</name>
        <label>Clear AI Fields</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AI_Candidate_Summary__c</field>
            <value>
                <elementReference>nullString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Last_Updated__c</field>
            <value>
                <elementReference>nullDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Prompt_Version__c</field>
            <value>
                <elementReference>nullString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Status__c</field>
            <value>
                <elementReference>nullString</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;AI summary retry triggered. The summary will regenerate within a minute — refresh this page to see it.&lt;/p&gt;&lt;p&gt;If the status flips back to &lt;b&gt;Failed&lt;/b&gt; again, contact the admin with this Lead ID — there may be a deeper issue with the Claude integration.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clear_AI_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nullString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nullDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
